<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Perl</li>
    </ol>

#### Some of the commonly used libraries used by Data Scientists include: 
<ol>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Scikit-learn</li>
    </ol>

In [11]:
import pandas as pd
data = [["Apache Spark"], ["MySQL"], ["PostgreSQL"], ["MongoDB"], ["Apache CouchDB"], ["Apache Cassandra"]]
pd.DataFrame(data, columns=["Data science tools"])

  Data science tools
0       Apache Spark
1              MySQL
2         PostgreSQL
3            MongoDB
4     Apache CouchDB
5   Apache Cassandra

#### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
1+1

10.652375077112893

In [13]:
2*2

4

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
def convert_minutes_to_hours(min):
   hour = min / 60
   print("minutes value in hours:",round(hour,2))
   return

n = 200

convert_minutes_to_hours(n)

minutes value in hours: 3.33

<strong>Objectives</strong>:
<ul><li>Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)</li>
<li>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</li>
<li>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</li>
<li>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</li>
<li>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</li>
<li>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</li>
<li>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</li>
<li>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</li>
<li>Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)</li>
<li>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)</li>
<li>Exercise 12 - Share your notebook through GitHub (3 pts)</li>
<li>Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)</li></ul>

#### Name: Bryn Farnsworth von Cederwald